* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  /* Dùng font cho toàn bộ trang */
  font-family: "Poppins", sans-serif;
}

.header {
  /* Xoay ngang tất cả phần tử trong một class */
  display: flex;
  /* Code độ rộng chung 1170 */
  width: 1170px;
  /* Căn phần tử vào giữa khung hình */
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
  /* Căn giữa theo trục dọc của tất cả các phần tử */
  align-items: center;
  /* Thêm padding cho phần tử */
  /* Trên là 36px
  Trái phải là 0
  Dưới 8px */
  padding: 36px 0 8px;
  /* Đổi màu nền cho phần tử */
  background-color: #fffcf4;
  /* Ghim phần tử cố định trên đầu trang */
  position: sticky;
  top: -18px;
}

a {
  /* Xóa gạch chân dưới thẻ a */
  text-decoration: none;
}

.header__navigation {
  /* Đẩy tất cả phần tử sang bên phải */
  margin-left: auto;
  position: relative;
}

.header__navigation a {
  /* Thay đổi màu sắc và kích thước font */
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.header__navigation--home,
.header__navigation a:hover {
  /* Tạo hiệu ứng khi có người dùng di chuột vào thì sẽ tự động đổ bóng */
  color: black;
  text-shadow: 1px 0 0 currentColor;
}

/* Tạo dấu gạch chân ở dưới nút Home */
.header__navigation--home::after {
  display: inline-block;
  content: "";
  bottom: 0px;
  left: 21px;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: black;
  position: absolute;
}

.header__signup a {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 2.45rem;
  background-color: #171100;
  display: inline-block;
  padding: 0 16px;
  line-height: 50px;
}

.header__signup {
  min-width: 144px;
  margin-left: 49px;
}
